/nbproject/private/
/WebDoc_2015-war/nbproject/private/
/WebDoc_2015-ejb/nbproject/private/
/WebDoc_2015-ejb/build/
/WebDoc_2015-ejb/dist/
/WebDoc_2015-war/build/
/build/
/WebDoc_2015-war/dist/